nav {
    display: flex;
    align-items: flex-start;
    margin-bottom: -1px;
}

.tab-header {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    border: 1px solid #000;
}

.tab-header::hover{
  background-color:#fabc2d;
}

.tab-header.active {
  background-color: #ffdc8b;
  border-bottom-color: #ffdc8b;
}

.container-wrap {
    overflow-y: scroll;
    background: #ffdc8b;
    color: #000;
    border: 1px solid #000;
    min-width: 300px;
    width: 90vw;
    height: 60vh;
}
